<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Inserto to Deck</title>
    </head>
    <body>
        <form action="/InsertToDeck/operation">
            Inserisci il nome del Deck: <input type="text" name="mazzo" placeholder="Nome Deck">
            <br>
            Inserisci l'acronimo del set: <input type="text" name="espansione" placeholder="Set">
            <br>
            Inserisci il numero della carta: <input type="text" name="nr" placeholder="Nome Deck">
            <br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>