<!DOCTYPE html>
<html lang="it">
  <head>
      <meta charset="UTF-8">
      <title>InsertToDB</title>
      <script src="insertToDB.js"></script>
  </head>
<!-- todo:
     - fare il div abilità composto da:
        - imboscata (checkbox)
        - tenacia (checkbox)
        - sopraffazione (checkbox)
        - incursione (checkbox) (number)
        - recupero (checkbox)  (number)
        - sabotatore (checkbox)
        - sentinella (checkbox)
        - schermata (checkbox)
        - contrabbando (checkbox) (text)
        - quando giocata (checkbox) (text)
        - taglia (checkbox) (text)
        - quando sconfitta (checkbox) (text)
        - quando attacca (checkbox) (text)
        - descrizione evento (checkbox) (text)
     - fare il div arena (select)
     - fare il div stat composto da:
        - costo (number)
        - power (number)
        - hp (number)
     - fare rarità (select)
     - fare artista (text)
-->
  <body>
    <form action="insertToDB/operation">
        <div id="nome">
            <input type="checkbox" name="unica"> unica
            <br>
            nome: <input type="text" name="nome" placeholder="nome">
            <br>
            Titolo: <input type="text" name="titolo" placeholder="titolo">
            <br>
        </div>
        <hr>
        <div id="set">
            set:
            <select name="espansione">
                <option value="" disabled selected> --seleziona-- </option>
                <option value="SOR"> spark of rebellion </option>
                <option value="SHD"> shadow of the galaxy </option>
            </select>
        </div>
        <hr>
        <div id="aspetto">
            aspetto:
            <select name="aspettoPrimario">
                <option value="">--seleziona--</option>
                <option>Rosso</option>
                <option>Giallo</option>
                <option>Verde</option>
                <option>Blu</option>
                <option>Chiaro</option>
                <option>Scuro</option>
            </select>
            <select name="aspettoSecondario">
                <option value="">--seleziona--</option>
                <option>Rosso</option>
                <option>Giallo</option>
                <option>Verde</option>
                <option>Blu</option>
                <option>Chiaro</option>
                <option>Scuro</option>
            </select>
        </div>
        <hr>
        <div id="type">
            tipo:
            <select name="tipo">
                <option value="" disabled selected> --seleziona-- </option>
                <option> leader </option>
                <option> base </option>
                <option> unità </option>
                <option> evento </option>
                <option> miglioria </option>
                <option> token </option>
            </select>
        </div>
        <hr>
        <div id="tratti">
            tratti:
            <input type="text" placeholder="filtro" id="filtroTratto" enterkeyhint="enter">
            <input type="button" value="filtra" id="launchFiltro" onclick="filtra()">
            <br>
            <div>
                <span class="tratto" th:each="tratto:${tratti}">
                    <input type="checkbox" value="${tratto}" name="tratti[]"> <p th:text="${tratto}"></p>
                </span>
            </div>
        </div>
        <hr>
        <div id="abilita">
            <span>
                <input type="checkbox" name="imboscata" id="imboscata">
                Imboscata
            </span>
            <span>
                <input type="checkbox" name="tenacia" id="tenacia">
                Tenacia
            </span>
            <span>
                <input type="checkbox" name="sopraffazione" id="sopraffazione">
                Sopraffazione
            </span>
            <span>
                <input type="checkbox" name="sabotatore" id="sabotatore">
                Sabotatore
            </span>
            <span>
                <input type="checkbox" name="sentinella" id="sentinella">
                Sentinella
            </span>
            <span>
                <input type="checkbox" name="schermata" id="schermata">
                Schermata
            </span>
            <span>
                <input type="checkbox" name="incursione" id="Incursione" onclick="toggleVisibilityInput('Incursione')">
                Incursione
                <input type="number" name="valoreIncursione" id="valoreIncursione" style="display: none">
            </span>
            <span>
                <input type="checkbox" name="recupero" id="Recupero" onclick="toggleVisibilityInput('Recupero')">
                Recupero
                <input type="number" name="valoreRecupero" id="valoreRecupero" style="display: none">
            </span>
            <span>
                <input type="checkbox" name="contrabbando" id="Contrabbando" onclick="toggleVisibilityInput('Contrabbando')">
                Contrabbando
                <input type="text" name="valoreContrabbando" id="valoreContrabbando" style="display: none">
            </span>
            <span>
                <input type="checkbox" name="quandoGiocata" id="QuandoGiocata" onclick="toggleVisibilityInput('QuandoGiocata')">
                Quando giocata
                <input type="text" name="valoreQuandoGiocata" id="valoreQuandoGiocata" style="display: none">
            </span>
            <span>
                <input type="checkbox" name="taglia" id="Taglia" onclick="toggleVisibilityInput('Taglia')">
                Taglia
                <input type="text" name="valoreTaglia" id="valoreTaglia" style="display: none">
            </span>
            <span>
                <input type="checkbox" name="quandoSconfitta" id="QuandoSconfitta" onclick="toggleVisibilityInput('QuandoSconfitta')">
                Quando sconfitta
                <input type="text" name="valoreQuandoSconfitta" id="valoreQuandoSconfitta" style="display: none">
            </span>
            <span>
                <input type="checkbox" name="quandoAttacca" id="QuandoAttacca" onclick="toggleVisibilityInput('QuandoAttacca')">
                Quando attacca
                <input type="text" name="valoreQuandoAttacca" id="valoreQuandoAttacca" style="display: none">
            </span>
            <span>
                <input type="checkbox" name="descrizioneEvento" id="DescrizioneEvento" onclick="toggleVisibilityInput('DescrizioneEvento')">
                Descrizione evento
                <input type="text" name="valoreDescrizioneEvento" id="valoreDescrizioneEvento" style="display: none">
            </span>
        </div>
        <input type="text" onkeyup="this.value = this.value.replace(/;/g, ''); if (/;/.test(this.value)) alert('Errore: punto e virgola non consentito')">
    </form>
  </body>
    <style>
        .tratto {
            width: 100px;
            padding: 5px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            vertical-align: top;
            box-sizing: border-box;

            border: 1px solid black;
            background: rgb(0, 255, 0);
            /**/
        }

        hr{
            box-sizing: border-box;
            border: 1px solid black;
        }

        div#abilita>span{
            display: block;
        }
    </style>
</html>