<!DOCTYPE html>
<html lang="it">
  <head>
      <meta charset="UTF-8">
      <title>InsertToDB</title>
  </head>
  <body>
    <form action="insertToDB/operation">
        <div id="nome">
            <input type="checkbox" name="unica"> unica
            <br>
            nome: <input type="text" name="nome" placeholder="nome">
            <br>
            titolo: <input type="text" name="titolo" placeholder="titolo">
            <br>
        </div>
        <hr>
        <div id="set">
            set:
            <select name="espansione">
                <option value="" disabled selected> --seleziona-- </option>
                <option value="SOR"> spark of rebellion </option>
                <option value="SHD"> shadow of the galaxy </option>
            </select>
        </div>
        <div id="type">
            tipo:
            <select name="tipo">
                <option value="" disabled selected> --seleziona-- </option>
                <option> leader </option>
                <option> base </option>
                <option> unità </option>
                <option> evento </option>
                <option> miglioria </option>
                <option> token </option>
            </select>
        </div>
        <hr>
        <div id="tratti">
            tratti:
            <table>
                <tr th:each="rigaTratti:${tratti}">
                    <td th:each="tratto:${rigaTratti}">
                        <input type="checkbox" name="tratti[]" value="${tratto}">
                        <p th:text="${tratto}" style="display: inline;"></p>
                        <br>
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div id="aspetto">
            aspetto:
            <select name="aspettoPrimario">
                <option value="">--seleziona--</option>
                <option>Rosso</option>
                <option>Giallo</option>
                <option>Verde</option>
                <option>Blu</option>
                <option>Chiaro</option>
                <option>Scuro</option>
            </select>
            <select name="aspettoSecondario">
                <option value="">--seleziona--</option>
                <option>Rosso</option>
                <option>Giallo</option>
                <option>Verde</option>
                <option>Blu</option>
                <option>Chiaro</option>
                <option>Scuro</option>
            </select>
        </div>
        <br>
        <input type="text" onkeyup="this.value = this.value.replace(/;/g, ''); if (/;/.test(this.value)) alert('Errore: punto e virgola non consentito')">
    </form>
  </body>
</html>